$green: #4af6cd;

%firasans-300 {
  font-family: "FiraSans-Light", sans-serif;
  font-weight: 300;
}

%firasans-400 {
  font-family: "FiraSans-Regular", sans-serif;
  font-weight: 400;
}

%firasans-500 {
  font-family: "FiraSans-Medium", sans-serif;
  font-weight: 500;
}

%firasans-700 {
  font-family: "FiraSans-Bold", sans-serif;
  font-weight: 700;
}

%firasans-800 {
  font-family: "FiraSans-ExtraBold", sans-serif;
  font-weight: 800;
}
