.surf {
  padding: 160px 0 120px;
  background-image: url("../images/surf-right.png");
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
  &__subtitle {
    text-align: right;
    margin-right: 80px;
    margin-top: -86px;
  }
  &-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__inner {
      min-height: 750px;
      background: rgba($color: #1c2121, $alpha: 0.85);
      position: relative;
      transition: all 0.5s;
      &:hover {
        background: rgba($color: #1c2121, $alpha: 0.3);
      }
      &-btn {
        display: block;
      }
      &-title {
        font-size: 40px;
        line-height: 36px;
        @extend %firasans-800;
        padding-top: 72px;
        padding-left: 40px;
        width: 140px;
      }
      &-location {
        font-size: 18px;
        line-height: 22px;
        @extend %firasans-400;
        transform: rotate(-90deg);
        position: absolute;
        width: 0;
        height: 0;
        left: 40px;
        bottom: 80px;
        white-space: nowrap;
        span {
          @extend %firasans-100;
        }
      }
      &-btn {
        bottom: 0;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        display: none;
      }
    }
  }
}
.surf-slider {
  padding-top: 110px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
  .slick-current {
    .surf-box__inner {
      background: rgba($color: #1c2121, $alpha: 0.3);
      &-btn {
        display: block;
      }
    }
  }
}
.slider {
  &-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url("../images/world-map-dots.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list {
      min-height: 635px;
    }
    .slick-current {
      .slider-dots__content {
        display: block;
        width: 285px;
        padding: 28px 31px 0 32px;
        &-row {
          display: flex;
          justify-content: space-between;
        }
        &-title {
          font-size: 18px;
          line-height: 26px;
          @extend %firasans-800;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-bottom: 8px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 80px;
            height: 1px;
            background-color: $green;
            bottom: 0;
            left: 0;
          }
        }
        &-subtitle {
          font-size: 16px;
          line-height: 19px;
          @extend %firasans-400;
          text-transform: capitalize;
        }
      }
    }
  }
  &-dots {
    position: relative;
    &--1 {
      top: 350px;
      left: 5px;
      .slider-dots__content {
        transform: translateX(0);
        &::before {
          left: 0;
        }
      }
    }
    &--2 {
      top: 290px;
      left: -15px;
      .slider-dots__circle {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          background-image: url("../icons/mini-marker.png");
          width: 14px;
          height: 17px;
          background-size: cover;
          right: -22px;
          top: -22px;
        }
      }
    }
    &--3 {
      top: 320px;
      left: 40px;
    }
    &--4 {
      top: 500px;
      right: 40px;
    }
    &--5 {
      top: 215px;
      right: 70px;
    }
    &--6 {
      top: 555px;
      right: 115px;
    }
    &--7 {
      top: 390px;
      right: 100px;
    }
    &--8 {
      top: 500px;
      left: 40px;
      .slider-dots__content {
        transform: translateX(-262px);
        &::before {
          left: auto;
          right: 0;
        }
      }
    }
    &__circle {
      width: 23px;
      height: 23px;
      background-color: $green;
      border-radius: 50%;
    }
    &__content {
      display: none;
      background-color: rgba($color: #0f1010, $alpha: 0.7);
      border-radius: 6px;
      position: absolute;
      bottom: 35px;
      transform: translateX(-50%);
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 20px solid $green;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -21px;
        left: 50%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &-link {
        padding-top: 4px;
      }
      &-row {
        padding-bottom: 30px;
      }
      &-item {
        text-align: center;
        img {
          margin-bottom: 7px;
        }
      }
      &-number {
        font-size: 16px;
        line-height: 23px;
        @extend %firasans-800;
      }
      &-name {
        font-size: 10px;
        line-height: 12px;
        @extend %firasans-300;
      }
    }
  }
}
